<section class="section">
  <div class="home-title-dropdown">
    <h2 class="home-section-title">
      {{- with $.Page.Params.gallery_section_heading -}}
      {{- . -}}
      {{- else -}}
      Gallery
      {{- end -}}
    </h2>
  </div>
  <div class="gallery_container">
    <div class="photos_grid">
      
      <div class="photo_container">
        <img alt="gallery" class="photos_container" src="https://drive.google.com/uc?export=view&id=1EH6CkWErvD40nmqWu_IgsuumcJkUgcxm" />
      </div>

    </div>
  </div>

</section>
https://drive.google.com/file/d/1EH6CkWErvD40nmqWu_IgsuumcJkUgcxm/view?usp=sharing
https://drive.google.com/drive/folders/1HyPVHIniNk7rxJonlFy7_1c93CcIpZlk?usp=drive_link