<section class="section">
  <div class="home-title-dropdown">
    <h2 class="home-section-title">
      {{- with $.Page.Params.gallery_section_heading -}}
      {{- . -}}
      {{- else -}}
      Gallery
      {{- end -}}
    </h2>
    <a class="see-more-projects" href="{{ `gallery/` | relURL }}">View all &raquo;</a>  </div>
  <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <div class="-m-1 flex flex-wrap md:-m-2">
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg1.png" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg2.png" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg3.png " />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg4.png" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg5.png" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block h-full w-full object-cover object-center" src="/images/galleryImg6.png" />
        </div>
      </div>
    </div>
  </div>

</section>